{% extends 'base.html' %}

{% block content %}
<style>
    /* CSS to show the carousel controls */
    .carousel-control-prev,
    .carousel-control-next {
        font-size: 24px;
        color: black;
        text-decoration: none;
        opacity: 1;
    }

    /* CSS to alter the carousel controls on hover */
    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        color: black;
        text-decoration: none;
        opacity: 0.5;
    }

    /* CSS to position carousel controls */
    .carousel-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .carousel-controls .carousel-control-prev {
        left: 0;
    }

    .carousel-controls .carousel-control-next {
        right: 0;
    }
</style>

<span class="title">
    <h1>{% block title %} The Home of LARP in the UK {% endblock %}</h1>
</span>

<div class="container">
    <div id="eventCarousel" class="carousel slide mx-auto" data-ride="carousel" data-interval="10000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for index, event in events %}
            <li data-target="#eventCarousel" data-slide-to="{{ index }}" {% if index==0 %}class="active" {% endif %}>
            </li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for index, event in events %}
            <div class="carousel-item {% if index == 0 %}active{% endif %}">
                <img src="{{ url_for('static', filename=event['imageUrl']) }}" class="d-block w-100"
                    alt="{{ event['name'] }}" style="width: 600px; height: 400px;">
                <div class="carousel-caption">
                    <h3>{{ event['name'] }}</h3>
                    <p>{{ event['description'] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Left and right controls -->
        <div class="carousel-controls">
            <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
                &lt;
            </a>
            <a class="carousel-control-next" href="#eventCarousel" role="button" data-slide="next">
                &gt;
            </a>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mx-auto">Soonest Events</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Organiser</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for (event, organiser_name), eventdetails in combined_data_soonest %}
                    <tr>
                        <td><a href="{{url_for('user.organiser_page', organiser_id=event.organiser_id) }}">{{
                                organiser_name }}</a></td>
                        <td><a href="{{url_for('events.event_page', event_id=event.id) }}">{{ event.name }}</a></td>
                        <td>{{ eventdetails.description }}</td>
                        <td>{{ eventdetails.location }}</td>
                        <td>{{ eventdetails.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="col-md-6">
            <h2 class="mx-auto">Newest Events</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Organiser</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for (event, organiser_name), eventdetails in combined_data_latest %}
                    <tr>
                        <td><a href="{{url_for('user.organiser_page', organiser_id=event.organiser_id) }}">{{
                                organiser_name }}</a></td>
                        <td><a href="{{url_for('events.event_page', event_id=event.id) }}">{{ event.name }}</a></td>
                        <td>{{ eventdetails.description }}</td>
                        <td>{{ eventdetails.location }}</td>
                        <td>{{ eventdetails.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

<!--<script src="{{ url_for('static', filename='javascript/carousel.js')}}"></script>-->
{% endblock %}