{% extends 'base.html' %}

{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .title-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .carousel-container {
        position: relative;
        width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .table-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* CSS for the translucent overlay on carousel */
    .carousel-item::before,
    .carousel-item::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 7.5%;
        background-color: rgba(200, 200, 200, 0.7);
        opacity: 1;
        transition: opacity 0.3s ease;
        z-index: 1;
    }

    .carousel-item::before {
        left: 0;
    }

    .carousel-item::after {
        right: 0;
    }

    /* CSS to show the carousel controls */
    .carousel-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        opacity: 1;
        transition: opacity 0.3s ease;
        z-index: 1;
        /* Ensure the controls appear above the image and grey boxes */
    }

    .carousel-controls .carousel-control-prev,
    .carousel-controls .carousel-control-next {
        font-size: 24px;
        color: black;
        text-decoration: none;
        background-color: transparent;
        border: none;
        padding: 10px;
        z-index: 1;
        /* Ensure the controls appear above the grey boxes */
        position: absolute;
    }

    .carousel-controls .carousel-control-prev {
        left: calc(50% - 325px);
        /* Adjust as needed */
    }

    .carousel-controls .carousel-control-next {
        right: calc(50% - 325px);
        /* Adjust as needed */
    }

    .carousel-controls .carousel-control-prev:hover,
    .carousel-controls .carousel-control-next:hover {
        color: black;
        text-decoration: none;
        opacity: 0.5;
    }

    .carousel-caption-container {
        position: absolute;
        bottom: -50px;
        left: calc(50% - 255px);
        right: calc(50% - 255px);
        background-color: rgba(200, 200, 200, 0.7);
        padding: 65px;
    }

    .carousel-caption {
        color: black;
        text-align: center;
    }
</style>
<div class="title-container">
    <span class="title">
        <h1>{% block title %} The Home of LARP in the UK {% endblock %}</h1>
    </span>
</div>

<div class="carousel-container">
    <div id="eventCarousel" class="carousel slide mx-auto" data-ride="carousel" data-interval="7000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for index, event in events %}
            <li data-target="#eventCarousel" data-slide-to="{{ index }}" {% if index==0 %}class="active" {% endif %}>
            </li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for index, event in events %}
            <a href="{{ url_for('events.event_page', event_id=event.id) }}"
                class="carousel-item {% if index == 0 %}active{% endif %}">
                <div class="left-box"></div>
                <img src="{{ url_for('static', filename=event['imageUrl']) }}" class="d-block w-100"
                    alt="{{ event['name'] }}" style="width: 600px; height: 400px;">
                <div class="right-box"></div>
                <div class="carousel-caption-container">
                    <div class="carousel-caption">
                        <h3>{{ event['name'] }}</h3>
                        <p>{{ event['description'] }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <!-- Left and right controls -->
        <div class="carousel-controls">
            <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
                &lt;
            </a>
            <a class="carousel-control-next" href="#eventCarousel" role="button" data-slide="next">
                &gt;
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="text-container">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod sapien et eros fringilla, at
                ultricies
                mauris maximus. Vivamus ultricies nulla ac risus congue ullamcorper. Nullam ac malesuada metus.
                Suspendisse
                sed sodales nunc. Sed interdum nisl vel velit consectetur viverra. Nullam non pulvinar arcu. Curabitur
                placerat efficitur ligula. Integer facilisis eros nec sapien mollis, sed tristique tortor blandit.
                Integer
                nec vestibulum lacus. Fusce placerat urna et velit bibendum, in vehicula lectus bibendum. Nam mattis
                dolor
                nec nunc mollis consequat.</p>
            <p>Phasellus dictum gravida lorem, nec convallis enim faucibus id. Integer luctus nulla sit amet lorem
                sollicitudin, ut ultricies ligula suscipit. Aliquam non dui velit. Cras consectetur est ut mi bibendum
                ullamcorper. Aliquam vel tellus at enim vulputate suscipit id nec libero. Sed varius, sapien eget
                ultricies
                sollicitudin, eros est suscipit sapien, eu pulvinar mi sapien in odio. Donec vel sem a metus dictum
                imperdiet eget a nunc. Nullam ac ligula sit amet lorem sollicitudin dignissim.</p>
            <p>Vestibulum volutpat, velit sit amet egestas consectetur, dolor sapien feugiat dui, vitae lacinia nisi
                metus
                non enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Aenean volutpat faucibus elit, at tincidunt leo fermentum vitae. Mauris mattis enim id dui fringilla,
                non
                euismod sapien malesuada. Curabitur consequat eros eu augue aliquam, et tempor metus varius. Nulla eget
                nisi quis justo pharetra gravida. Sed non nisi vel eros rutrum volutpat. Nullam eget odio nec nisl
                vestibulum finibus. Mauris in tellus libero.</p>
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="mx-auto">Soonest Events</h2>
        <div class="table-container">
            <table class="table">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>Organiser</th>
                        <th>Title</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    {% for event_tuple in combined_data_soonest %}
                    {% set event = event_tuple[0] %}
                    {% set name = event_tuple[1] %}
                    {% set address = event_tuple[2] %}
                    <tr>
                        <td><a href="{{url_for('user.organiser_page', id=event.organiser_id) }}">{{ name
                                }}</a></td>
                        <td><a href="{{url_for('events.event_page', event_id=event.id) }}">{{ event.name }}</a></td>
                        <td>{{ event.start_date.strftime('%d %b') }} to {{ event.end_date.strftime('%d %b') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="mx-auto">Newest Events</h2>
        <div class="table-container">
            <table class="table">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>Organiser</th>
                        <th>Title</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    {% for event_tuple in combined_data_latest %}
                    {% set event = event_tuple[0] %}
                    {% set name = event_tuple[1] %}
                    {% set address = event_tuple[2] %}
                    <tr>
                        <td><a href="{{url_for('user.organiser_page', id=event.organiser_id) }}">{{ name
                                }}</a></td>
                        <td><a href="{{url_for('events.event_page', event_id=event.id) }}">{{ event.name }}</a></td>
                        <td>{{ event.start_date.strftime('%d %b') }} to {{ event.end_date.strftime('%d %b') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='JavaScript/carousel.js') }}"></script>
{% endblock %}