{% extends 'base.html' %}

{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .title-container {
        position: relative;
        width: 100%;
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;
    }

    .carousel-container {
        position: relative;
        width: 600px;
        margin: 0 auto;
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;
    }

    .table-container {
        position: relative;
        width: 100%;
        background-color: #f8f9fa;
        display: flex;
        justify-content: center;
    }

    /* CSS for the translucent overlay on carousel */
    .carousel-item::before,
    .carousel-item::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 7.5%;
        background-color: rgba(200, 200, 200, 0.7);
        z-index: 1;
    }

    .carousel-item::before {
        left: 0;
    }

    .carousel-item::after {
        right: 0;
    }

    /* CSS to show the carousel controls */
    .carousel-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        z-index: 1;
        /* Ensure the controls appear above the image and grey boxes */
    }

    .carousel-controls .carousel-control-prev,
    .carousel-controls .carousel-control-next {
        font-size: 24px;
        color: black;
        text-decoration: none;
        opacity: 1;
        background-color: transparent;
        border: none;
        padding: 10px;
        z-index: 1;
        /* Ensure the controls appear above the grey boxes */
        position: absolute;
    }

    .carousel-controls .carousel-control-prev {
        left: calc(50% - 325px);
        /* Adjust as needed */
    }

    .carousel-controls .carousel-control-next {
        right: calc(50% - 325px);
        /* Adjust as needed */
    }

    .carousel-controls .carousel-control-prev:hover,
    .carousel-controls .carousel-control-next:hover {
        color: black;
        text-decoration: none;
        opacity: 0.5;
    }

    .carousel-caption-container {
        position: absolute;
        bottom: -50px;
        left: calc(50% - 255px);
        right: calc(50% - 255px);
        background-color: rgba(200, 200, 200, 0.7);
        padding: 65px;
    }

    .carousel-caption {
        color: black;
        text-align: center;
    }
</style>
<div class="title-container">
    <span class="title">
        <h1>{% block title %} The Home of LARP in the UK {% endblock %}</h1>
    </span>
</div>

<div class="carousel-container">
    <div id="eventCarousel" class="carousel slide mx-auto" data-ride="carousel" data-interval="10000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for index, event in events %}
            <li data-target="#eventCarousel" data-slide-to="{{ index }}" {% if index==0 %}class="active" {% endif %}>
            </li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for index, event in events %}
            <a href="{{ url_for('events.event_page', event_id=event.id) }}"
                class="carousel-item {% if index == 0 %}active{% endif %}">
                <div class="left-box"></div>
                <img src="{{ url_for('static', filename=event['imageUrl']) }}" class="d-block w-100"
                    alt="{{ event['name'] }}" style="width: 600px; height: 400px;">
                <div class="right-box"></div>
                <div class="carousel-caption-container">
                    <div class="carousel-caption">
                        <h3>{{ event['name'] }}</h3>
                        <p>{{ event['description'] }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>



        <!-- Left and right controls -->
        <div class="carousel-controls">
            <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
                &lt;
            </a>
            <a class="carousel-control-next" href="#eventCarousel" role="button" data-slide="next">
                &gt;
            </a>
        </div>
    </div>
</div>

<div class="table-container">
    <div class="content">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="mx-auto">Soonest Events</h2>
                <table class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Organiser</th>
                                <th>Title</th>
                                <th>Location</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for (event, organiser_name), eventdetails in combined_data_soonest %}
                            <tr>
                                <td><a href="{{url_for('user.organiser_page', organiser_id=event.organiser_id) }}">{{
                                        organiser_name }}</a></td>
                                <td><a href="{{url_for('events.event_page', event_id=event.id) }}">{{ event.name }}</a>
                                </td>
                                <td>{{ eventdetails.location }}</td>
                                <td>{{ eventdetails.start_date }} to {{eventdetails.end_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </table>
            </div>


            <div class="col-12 col-md-6">
                <h2 class="mx-auto">Newest Events</h2>
                <table class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Organiser</th>
                                <th>Title</th>
                                <th>Location</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for (event, organiser_name), eventdetails in combined_data_latest %}
                            <tr>
                                <td><a href="{{url_for('user.organiser_page', organiser_id=event.organiser_id) }}">{{
                                        organiser_name }}</a></td>
                                <td><a href="{{url_for('events.event_page', event_id=event.id) }}">{{ event.name }}</a>
                                </td>
                                <td>{{ eventdetails.location }}</td>
                                <td>{{ eventdetails.start_date }} to {{ eventdetails.end_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}