{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} Login {% endblock %}</h1>
</span>
<div class="content">
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control", id="username") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control", id="password") }}
        </div>

        {% with messages = get_flashed_messages(with_categories = True) %}
        <div class="flash-messages">
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                {% if category == 'error' %}
                <li class="flash-message">{{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endwith %}

        <div class="form-group form-check">
            {{ form.remember(class="form-check-input", id="remember") }}
            {{ form.remember.label(class="form-check-label", for="remember") }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}