{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        text-align: center;
        margin: 0 auto;
        max-width: 80pw;
        /* Adjust the maximum width as needed */
    }

    .title {
        margin-bottom: 20px;
    }

    .cover-image {
        width: 100%;
        max-width: 600px;
        /* Adjust the maximum width as needed */
        height: 100%;
        max-height: 400px;
        margin-bottom: 20px;
    }

    .tickets {
        margin-bottom: 20px;
        align-items: center;
    }

    .ticket-table {
        width: 100%;
        align-items: center;
    }

    #map {
        height: 250px;
        width: 375px;
        /* Adjust the maximum width as needed */
        margin: 0 auto;
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <div class="title">
        <h1>{{ event.name }}</h1>
        <h2>An event by <a href="{{ url_for('user.organiser_page', id=event.organiser_id) }}">{{
                organiser.username }}</a></h2>
    </div>

    <div class="date-container">
        <h2>Running: {{ event.start_date }} to {{ event.end_date }}</h2>
    </div>

    <div class="cover-image-container">
        {% if image %}
        <img src="{{ url_for('static', filename=image.location) }}" class="cover-image" alt="{{ event.name }}">
        {% else %}
        <!-- Handle case where no cover image is available -->
        <p>No cover image available</p>
        {% endif %}
    </div>

    <div class="dashboard">
        {% if current_user.is_authenticated %}
        {% if current_user.id == event.organiser_id %}
        <a href="{{ url_for('events.event_dashboard', event_id=event.id) }}" class="btn btn-primary">Dashboard</a>
        {% endif %}
        {% endif %}
    </div>

    <div class="description-container">
        <h2>Details:</h2>
        <p>{{ event.description }}</p>
    </div>
    {% if tickets %}
    {% set available_tickets = tickets|selectattr('available', 'equalto', true)|list %}
    {% if available_tickets %}
    <div class="tickets">
        <h2>Tickets:</h2>
        <table class="ticket-table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Available?</th>
                    <th>Buy</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in available_tickets %}
                <tr>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.price }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{% if ticket.max_tickets > ticket.tickets_sold %} Yes {% else %} Sold Out {% endif %}</td>
                    <td>{% if ticket.max_tickets > ticket.tickets_sold %}<a
                            href="{{ url_for('events.checkout', ticket_id=ticket.id) }}" class="btn btn-primary">Buy
                            Now</a>{% else %} - {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% endif %}




    <div class="venue-container">
        <div class="row">
            <div class="col-md-6">
                <div class="address">
                    <h2>Address:</h2>
                    <p>{{ venue.name }}</p>
                    <p>{{ address }}</p>
                </div>

            </div>
            <div class="col-md-6">
                <!-- Embed the map here -->
                <div id="map"></div>
            </div>
        </div>
    </div>


    {% endblock %}

    {% block scripts %}

    <script>
        const latitude = "{{ lat }}";
        const longitude = "{{ lng }}";
    </script>

    <script>
        (function (g) {
            var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window;
            b = b[c] || (b[c] = {});
            var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
                u = () => h || (h = new Promise(async (f, n) => {
                    await (a = m.createElement("script"));
                    e.set("libraries", [...r] + "");
                    for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                    e.set("callback", c + ".maps." + q);
                    a.src = 'https://maps.googleapis.com/maps/api/js?' + e;
                    d[q] = f;
                    a.onerror = () => h = n(Error(p + " could not load."));
                    a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                    m.head.append(a)
                }));
            d[1] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
        })({
            key: "AIzaSyDzQRqjCQsbPfVqHd1bySNkPOCMpTLFoL8",
            v: "weekly",
        });
    </script>

    <script src="{{ url_for('static', filename='JavaScript/map.js') }}"></script>

    {% endblock %}