{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} The Events Page {% endblock %}</h1>
</span>
<div class="content">
    <h2>This is the events Flask blueprint</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr class="event">
                <td class="title">
                    <a href="#">{{ event.title }}</a>
                </td>
                <td class="description">{{ event.description }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.time }}</td>
                <td>{{ event.latitude }}</td>
                <td>{{ event.longitude }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}