{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        overflow-y: auto;
        max-height: 80vh;
        width: 1000px;
        margin: 0 auto;
        padding: 0;
    }

    .event-table {
        width: 100%;
        border-collapse: collapse;
    }

    .event-table th,
    .event-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container">
    <h1>Upcoming Events</h1>
    <table class="event-table">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>Event Details</th>
            </tr>
        </thead>
        <tbody>
            {% if events %}
            {% for event, organiser_name, formatted_start_date in events %} <!-- Adjusted loop -->
            <tr>
                <td>{{ formatted_start_date }}</td>
                <td>
                    {{ formatted_start_date }}<br> <!-- Removed reference to event_details -->
                    <strong><a href="{{ url_for('events.event_page', event_id=event.id) }}">{{ event.name
                            }}</a></strong><br>
                    <a href="{{ url_for('user.organiser_page', organiser_id=event.organiser_id) }}">{{ organiser_name
                        }}</a> <br>
                    {{ event.description }} <!-- Updated to reference event instead of event_details -->
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>No upcoming events.</td> <!-- Adjusted colspan -->
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="pagination-container">
        <div class="pagination">
            {% if pagination.has_prev %}
            <a href="{{ url_for('events.index', page=pagination.page - 1) }}">Previous</a>
            {% endif %}
            <span>Page {{ pagination.page }} of {{ pagination.pages[-1] }}</span>
            {% if pagination.has_next %}
            <a href="{{ url_for('events.index', page=pagination.page + 1) }}">Next</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}