{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        overflow-y: auto;
        max-height: 80vh;
        width: 1000px;
        margin: 0 auto;
        padding: 0;
    }

    .event-table {
        width: 100%;
        border-collapse: collapse;
    }

    .event-table th,
    .event-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container">
    <h1>Upcoming Events</h1>
    <div>
        <form method="GET" action="{{ url_for('events.index') }}">
            <label for="tag">Filter by Tag:</label>
            <input type="text" id="tag" name="tag" placeholder="Enter tag">
            <button type="submit">Apply</button>
        </form>
        <form method="GET" action="{{ url_for('events.index') }}">
            <label for="tickets">Filter by Attendees:</label>
            <select id="tickets" name="tickets">
                <option value="">All</option>
                <option value="lt20">Less than 20</option>
                <option value="lt50">Up to 50</option>
                <option value="lt100">Up to 100</option>
                <option value="lt500">Up to 500</option>
                <option value="gt500">More than 500</option>
            </select>
            <button type="submit">Apply</button>
        </form>
    </div>
    <table class="event-table">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>Event Details</th>
            </tr>
        </thead>
        <tbody>
            {% if events %}
            {% for event, organiser_name, formatted_start_date in events %}
            <tr>
                <td>{{ formatted_start_date }}</td>
                <td>
                    {{ formatted_start_date }}<br>
                    <strong><a href="{{ url_for('events.event_page', event_id=event.id) }}">{{ event.name
                            }}</a></strong><br>
                    <a href="{{ url_for('user.organiser_page', id=event.organiser_id) }}">{{ organiser_name }}</a> <br>
                    {{ event.description }}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="2">No upcoming events.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="pagination-container">
        <div class="pagination">
            {% if pagination.has_prev %}
            <a href="{{ url_for('events.index', page=pagination.page - 1) }}">Previous</a>
            {% endif %}
            <span>Page {{ pagination.page }} of {{ pagination.pages[-1] }}</span>
            {% if pagination.has_next %}
            <a href="{{ url_for('events.index', page=pagination.page + 1) }}">Next</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}