{% extends 'base.html' %}

{% block content %}
<h1>Add or Select Payment Method</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.payment_method.label }}: {{ form.payment_method() }}
        {% if form.payment_method.errors %}
        <ul class="errors">
            {% for error in form.payment_method.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        {{ form.card_number.label }}: {{ form.card_number() }}
        {% if form.card_number.errors %}
        <ul class="errors">
            {% for error in form.card_number.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        {{ form.expiry_date.label }}: {{ form.expiry_date() }}
        {% if form.expiry_date.errors %}
        <ul class="errors">
            {% for error in form.expiry_date.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        {{ form.cvv.label }}: {{ form.cvv() }}
        {% if form.cvv.errors %}
        <ul class="errors">
            {% for error in form.cvv.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        {{ form.billing_address.label }}: {{ form.billing_address() }}
        {% if form.billing_address.errors %}
        <ul class="errors">
            {% for error in form.billing_address.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        {{ form.billing_postcode.label }}: {{ form.billing_postcode() }}
        {% if form.billing_postcode.errors %}
        <ul class="errors">
            {% for error in form.billing_postcode.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        {{ form.billing_city.label }}: {{ form.billing_city() }}
        {% if form.billing_city.errors %}
        <ul class="errors">
            {% for error in form.billing_city.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        {{ form.billing_country.label }}: {{ form.billing_country() }}
        {% if form.billing_country.errors %}
        <ul class="errors">
            {% for error in form.billing_country.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}